* {
    font-size: 24px Helvetica;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.AppName {
    text-align: center;
}

.gameResult {
    text-align: center;
    word-wrap: normal;
}

.space {
    max-width: 30px;
    max-height: 30px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.board {
    width: max-content;
    margin: auto;
}


img {
    max-width: 25px;
    max-height: 25px;
    margin: 2px
}

.row {
    display: flex;
    flex-direction: row;
}

.status_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}

.status_bar * {
    margin: 5px;
}

#flag_count img {
    margin-right: 0px;
    margin-bottom: 0px;
}

.gameSizes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

button {
    padding: 2px;
}

.gameOption, .reset{
    margin: 5px;
}